---
import "../styles/global.css";
import Ticker from "../components/Ticker.astro";
import Hero from "../components/Hero.astro";
import Main from "../components/Main.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/png"
			href="/favicon/favicon-96x96.png"
			sizes="96x96"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<meta name="apple-mobile-web-app-title" content="Freyja" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="The foremost haven in Northern dining, displaying true elegance, exceptional service, and celebrating the best of Nordic and Northumbrian flavour."
		/>
		<title>FREYJA</title>
	</head>
	<body style="opacity: 0">
		<Ticker />
		<Hero />
		<Main />
	</body>
	<script is:inline>
		requestAnimationFrame(() => {
			document.body.style.removeProperty("opacity");
		});
	</script>
</html>
