---
import Logo from "../components/Logo.svg";
import NewsletterSignup from "../components/NewsletterSignup.astro";
---

<main
	class="flex flex-col py-80 items-center justify-center gap-30 sm:gap-62 px-40"
>
	<h1 class="sr-only">FREYJA</h1>
	<Logo class="max-w-335 w-full" />
	<p
		class="text-center sm:text-30 text-balance max-w-[42ch] tracking-telegraf"
	>
		The foremost haven in Northern dining, displaying true elegance,
		exceptional service, and celebrating the best of <em>Nordic</em> and <em
			>Northumbrian</em
		>
		flavour.
	</p>
	<NewsletterSignup />
</main>
